<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package 
        Name="autoortho"
        Version="0.5.8"
        UpgradeCode="B36177BE-EA4D-44FB-B05C-EDDABDAA95CA"
        Manufacturer="autoortho">
        
        <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
        
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="autoortho">
                <Component Id="MainExecutable" Guid="BFD25009-65A4-4D1E-97F1-0030465D90D6">
                    <File Id="AutoorthoExe" Source="artifacts\autoortho.exe" />
                </Component>
            </Directory>
        </StandardDirectory>
        
        <Feature Id="ProductFeature" Title="autoortho" Level="1">
            <ComponentRef Id="MainExecutable" />
        </Feature>
    </Package>
</Wix>